
{% extends "base/base.html" %}


{% block title %}
  formulário campus | {{ block.super }}
{% endblock %}

{% block navegar %}
    <li class="breadcrumb-item"><a href="{% url 'contas:index' %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url 'atividade:gerencia' %}">Gerenciar</a></li>
    {% if object %}    
    <li class="breadcrumb-item active" aria-current="page">Editar Campus</li>
    {% else %}
    <li class="breadcrumb-item active" aria-current="page">Adicionar Campus</li>
    {% endif %}
{% endblock %}

{% block conteudo %}

{% if user.permissao_suporte %}
<div class="row justify-content-center">
  <div class="col-12 col-md-6">
    <h3>
      {% include 'uteis/botao_voltar.html'%} &nbsp; formulário Campus
    </h3>
  </div>
</div>

{% include 'uteis/form_padrao.html' %}

{% else %}
<h3>Sem Permissao para a Ação</h3>
{% endif %}


{% endblock %}