 


<h1>Deu certo sim</h1>

<!-- <div class="row">
      <div class="col-md-6">
        <h3>Sistemas Operacionais</h3>
      </div>
      <div class="col-md-6">
        <a href="{% url 'atividade:novo_sistema' %}" class="btn btn-primary">Adicionar</a>
        <a href="{% url 'atividade:listar_sistema' %}" class="btn btn-primary">Listar</a>
      </div>
    
    </div>

    <div class="row">
      <div class="col-md-6">
        <h3>Softwares</h3>
      </div>
      <div class="col-md-6">
        <a href="#" class="btn btn-primary">Adicionar</a>
        <a href="#" class="btn btn-primary">Listar</a>
      </div>
    </div> -->


<!-- <table class="table">
    <thead>
      <tr>
        <th>Atividade</th>
        <th>Responsavel</th>
        <th>Curso </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
 -->