{% extends "base/base.html" %}


{% block title %}
  Deletar Espaço | {{ block.super }}
{% endblock %}

{% block conteudo %}

	<form method="post">
	{% csrf_token %}
	
		<h4>Deseja Realmente Excluir o Espaço Abaixo ?</h4>
		<h2>  {{object.identificador}}  </h2>

		<button class="btn btn-outline-danger" type="submit">
            <i class="material-icons icone_medio">delete_forever</i> 
            <span class="icone_medio">Deletar</span>
        </button>
        
        <a class="btn btn-light" href="{% url 'academico:listar_espaco' %}">
            <i class="material-icons">reply</i>
            <span class="icone_medio">Cancelar</span>
        </a>

	</form>


{% endblock%}