<div class="row">
	<div class="col-12">
		{% comment %} <table class="table table-hover table-bordered table-sm table-responsive w-100 d-block d-md-table">
			<thead class="tabela-cor-padrao"> {% endcomment %}
				<tr>
					<th scope="col">Turma</th>
					<th scope="col">Atividade/Disciplina</th>
					<th scope="col">Tipo</th>
					<th scope="col">Solicitante</th>
					<th scope="col">Status</th>
				</tr>
			{% comment %} </thead>
			<tbody> {% endcomment %}
			{% for turma in turma %}
				<tr>
					<th cope="row">
						<a href="{% url 'atividade:detalhar_turma' turma.id %}" title="Detalhar Turma">
							{{turma.nome}}		
						</a>
					</th>
					<td>
						<a href="{% url 'atividade:atividade_detail' turma.atividade.id %}" title="Detalhar Atividade/Disciplina">
							{{turma.atividade.nome}}
						</a>
					</td>
					<td>{{turma.atividade.tipo_atividade}}</td>
					<td>
					{% if turma.atividade %}
						<a href="{% url 'contas:solicitante_detail' turma.atividade.solicitante.id %}" class="btn">
							{{turma.atividade.solicitante}}
						</a>
					{% endif %}
					</td>
					<td>Turma - {{turma.status}}</td>
					
				</tr>
			
			{% endfor %}      
			{% comment %} </tbody>
		</table> {% endcomment %}
	</div>
</div>